body::before {
  background-size: cover;
  background-attachment: fixed;
  content: '';
  will-change: transform;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;

}

/*Mobile and small screen rules*/
@media (max-width: 512px)  and (min-resolution: 1.5dppx),
(max-width: 1024px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('images/candcbg.jpg');
  }

  .page-header {
    color: white;
    font-size: 7em;
    font-weight: 500;
  }

  .card-headers {
    font-size: 3em;
    font-weight: 400;
  }

}

/*Tablet Screens*/
@media (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
(min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {
  body::before {
    background-image: url('images/candcbg.jpg');
  }

  .page-header {
    color: white;
    font-size: 7em;
    font-weight: 400;
  }

  .card-headers {
    font-size: 5em;
    font-weight: 400;
  }

}

/*Large Screens*/
@media (min-width: 1025px) and (min-resolution: 1.5dppx),
(min-width: 2049px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('images/candcbg.jpg');
  }

  .page-header {
    color: white;
    font-size: 7em;
    font-weight: 500;
  }

.card-headers {
    font-size: 5em;
    font-weight: 400;
  }
}

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.about-block {
  background-color: rgba(140, 140, 140, 0.9);
  align-items: center;
  color: white;
  top: 20px;
  left: 20px;
  padding: 10px;
}

.transparent-block {
  background-color: rgba(140, 140, 140, 0.5);
  align-items: center;
  color: white;
  top: 20px;
  left: 20px;
  padding: 10px;
}

.header-container {
  background-color: rgba(140, 140, 140, 0.7);
  text-align: center;
}

.sub-heading {
  color: white;
}

.demo-card-wide.mdl-card {
  width: 100%;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 300px;
}

.uptown-card {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/candcphoenix.jpg') center / cover;
}

.eastvalley-card {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/candceastvalley.jpg') center / cover;
}

.downtown-card {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/candcdowntown.jpg') center / cover;
}

.aboutus-card {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/candcaboutus.jpg') center / cover;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-mini-footer {
  height: 28vh;
  background-color: white;
  color: grey;
}

.mdl-logo {
  color: #808080;
  display: inline-block;
  text-align: center;
}

.mdl-logo.icons {
  padding-right: 15vw;
}

.mdl-logo img {
  padding: 10px 20px 20px 10px;
}

.share-link {
  text-decoration: none;
  color: black;
}

.view-link {
  text-decoration: none;
  color: rgb(96,125,139);
}
