<section class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--8-col transparent-block">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title aboutus-card">
        <h2 class="mdl-card__title-text card-headers">Who We Are</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Started in 2011 out of <a href="https://heatsynclabs.org">Heatsync Labs</a>, Coffee & Code started as a social coding program to bring developers from all over the Valley into develop and work with eachother.  Since then several businesses have resulted from projects being founded inside of Coffee & Code.
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
</section>

