<section class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--8-col transparent-block">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title eastvalley-card">
        <h2 class="mdl-card__title-text card-headers">East Valley</h2>
      </div>
      <div class="mdl-card__supporting-text">
        The original Coffee & Code based out of Heatsync Labs in Mesa.  This meetup was started in 2011 and is still going strong today!
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="https://www.meetup.com/Coffee-and-Code-East-Valley/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          View Meetup
        </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <!-- Right aligned menu below button -->
          <button id="eastvalley-share"
                  class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">share</i>
          </button>

          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
              for="eastvalley-share">
            <li class="mdl-menu__item"><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.meetup.com/Coffee-and-Code-East-Valley/" class="share-link">Facebook</a></li>
            <li class="mdl-menu__item"><a href="https://twitter.com/home?status=https%3A//www.meetup.com/Coffee-and-Code-East-Valley/" class="share-link">Twitter</a></li>
          </ul>
        </button>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
</section>

